<div class="section-about mt-5 mb-5 pb-5">
  <div class="header-title ms-4">
    <h3>About Me</h3>
  </div>

  <div class="row justify-content-center  mt-5">
    <div class="col-12  col-xl-3" appFadeanmation="animate__slideInLeft">
      <div class="img-wrapper">
      <img src="assets/images/WhatsApp_Image_2025-08-22_at_10.29.20_11f6cd5b-removebg-preview.png" alt="test" />
      </div>
    </div>

    <div class="col-12  col-xl-8 mt-5 pt-5 pt-xl-0 mt-xl-0" appFadeanmation="animate__slideInRight">
      <p>
        I am a dedicated Data Analyst and Business Intelligence Developer with a
        solid academic
        <span class="blue-color">foundation and a Master’s</span> degree in
        Data Science, backed by a strong technical background. My career is
        driven by a passion for transforming raw data into strategic
        <span class="blue-color"
          >insights that support decision-making and drive</span
        >
        measurable performance improvements.
      </p>
      <p>
        With diverse experience across analytical roles and academic engagement,
        I specialize in
        <span class="blue-color"
          >bridging the gap between complex data and impactful</span
        >
        business outcomes. I thrive in dynamic environments that prioritize
        curiosity, continuous learning, and evidence-based problem-solving. My
        mission is to
        <span class="blue-color"
          >empower data-driven transformations through meaningful</span
        >
        insights that align with organizational goals and long-term growth.
      </p>
    </div>
  </div>
</div>
