<div class="row py-5 my-5 section-profile-personal">
  <div
    class="col-12 col-xl-6 order-2 order-xl-0 m-auto text-center text-xl-start"
  >
    <h2 class="animate__animated animate__lightSpeedInLeft">
      Hi! I'm Shimaa Ahamed Daowd
    </h2>
    <h3>
      And I'm a
      <span class="blue-color">
        <span
          *ngFor="let letter of currentText.split(''); let i = index"
          class="letter"
          [ngStyle]="{ 'animation-delay': i * 0.1 + 's' }"
        >
          {{ letter }}
        </span>
      </span>
    </h3>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime
      repellendus, repellat cumque iste quos cum ratione nulla ipatione nulla
      ipatione nulla ipatione nulla ipsa molestiae temporibus.
    </p>
    <div class="email-section gap-4">
      <div>
        <h3 class="blue-color">Email:</h3>
        <p>shimaaexample.com</p>
      </div>

      <div>
        <h3 class="blue-color">Email:</h3>
        <p>shimaaexample.com</p>
      </div>
    </div>

    <div class="button-cv">
      <button class="animate__animated animate__zoomIn">Download Cv</button>
      <button class="animate__animated animate__zoomIn">Hire Me Now!</button>
    </div>

    <div class="icon-profile-personal">
      <button class="animate__animated animate__zoomIn">
        <i class="fa-brands fa-facebook-f"></i>
      </button>
      <button class="animate__animated animate__zoomIn">
        <i class="fa-brands fa-linkedin-in"></i>
      </button>
      <button class="animate__animated animate__zoomIn">
        <i class="fa-brands fa-github"></i>
      </button>
      <button class="animate__animated animate__zoomIn">
        <i class="fa-brands fa-twitter"></i>
      </button>
    </div>
  </div>

  <div class="col-12 col-xl-5 order-1 text-end">
    <div class="img-wrapper">
      <img
        src="assets/images/WhatsApp_Image_2025-08-22_at_10.29.20_11f6cd5b-removebg-preview.png"
        alt="test"
      />
    </div>
  </div>
</div>
