<div class="row py-5 my-5 section-profile-personal">
  <div class="col-12 col-xl-6 order-2 order-xl-0">
    <h2>Hi! I'm Shimaa Ahamed Daowd</h2>
    <h3>And I'm a <span class="blue-color">Data Analyst</span> and Tester</h3>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime
      repellendus, repellat cumque iste quos cum ratione nulla ipatione nulla
      ipatione nulla ipatione nulla ipsa molestiae temporibus.
    </p>
    <div class="d-flex gap-4">
      <div>
        <h3 class="blue-color">Email:</h3>
        <p>shimaaexample.com</p>
      </div>

      <div>
        <h3 class="blue-color">Email:</h3>
        <p>shimaaexample.com</p>
      </div>
    </div>

    <div class="button-cv">
      <button>Download Cv</button>
      <button>Hire Me Now!</button>
    </div>

    <div class="icon-profile-personal">
      <button><i class="fa-brands fa-facebook-f"></i></button>
      <button><i class="fa-brands fa-linkedin-in"></i></button>
      <button><i class="fa-brands fa-github"></i></button>
      <button><i class="fa-brands fa-twitter"></i></button>
    </div>
  </div>

  <div class="col-12 order-1  col-xl-5 text-center ">
    <div class="img-wrapper">
      <img src="assets/images/81235048.jpg" alt="test" />
    </div>
  </div>
</div>
