<div class="header-title">
  <h3>Experines</h3>
  </div>

  <div class="row">

    <div class="col-xl-12 experines-border p-3" appFadeanmation="animate__fadeInUp">
      <h4>Data Analyst- Power BI Reporting Specialist</h4>
      <p>National Telecommunication Institute (NTI)- Part time</p>
      <ul>
        <li>
          Optimized healthcare data using Power BI, improving operational
          efficiency by 30% across 14 hospitals and 150 health centers,
          impacting decisions for 829,000+ beneficiaries.
        </li>
      </ul>
    </div>

    <div class="col-xl-12 experines-border p-3" appFadeanmation="animate__fadeInUp">
      <h4>Data Analysis Instructor</h4>
      <ul>
        <li>
          Leda90-hourtraining program on data analysis tools (SQL, Python,
          Excel, Power BI, Tableau) and freelance career skills.Mentored
          learners on real-world projects, achieving 95% completion rates and
          ensuring mastery of end-to-end workflows.
        </li>
      </ul>
    </div>

    <div class="col-xl-12 experines-border p-3" appFadeanmation="animate__fadeInUp">
      <h4>Data Analysis Instructor</h4>
      <p>Institute of Management Professionals (IMP)- Part time</p>
      <ul>
        <li>
          Leda90-hourtraining programon data analysis tools (SQL, Python, Excel,
          Power BI, Tableau) and freelance career skills.Mentored learners on
          real-world projects, achieving 95% completion rates and ensuring
          mastery of end-to-end workflows.
        </li>
      </ul>
    </div>

    <div class="col-xl-12 experines-border p-3" appFadeanmation="animate__fadeInUp">
      <h4>Data Engineering Instructor</h4>
      <p>Digital Egypt Pioneers (DEPI)- Part time</p>
      <ul>
        <li>
          Implemented and delivered an in-depth Microsoft Data Engineer program,
          covering SQL, MLOps, and essential data engineering tools. Empowered
          learners with hands-on data engineering skills, enabling 70%+ Azure
          certification success across participants.
        </li>
      </ul>
    </div>

    <div class="col-xl-12 experines-border p-3" appFadeanmation="animate__fadeInUp">
      <h4>Power BI Developer</h4>
      <p>Onspec Engineering and Contracting- Project-Based</p>
      <ul>
        <li>
          Designed and deployed 4+ end-to-end Power BI dashboards for Onspec
          Engineering Solutions, improving operational reporting speed by 35%
          and enabling faster decision-making in industrial automation
          workflows.
        </li>
        <li>
          Streamlined data models, reducing reporting time by 40% and enhancing
          real-time operational insights.
        </li>
      </ul>
    </div>

    <div class="col-xl-12 experines-border p-3" appFadeanmation="animate__fadeInUp">
      <h4>Business System Analyst</h4>
      <p>Pioneers Solutions- Full time</p>
      <ul>
        <li>
          Led the seamless integration of ERP and CRM systems, driving
          efficiency across diverse business sectors: education, healthcare, and
          commerce sectors, resulting in actionable data insights that enhanced
          operational efficiency by 25% and boosted decision-making processes
        </li>
      </ul>
    </div>
  </div>
