.fixed-scroll{
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #1e1e1e;
  color: white;
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 50px;
  z-index: 99999999999999999;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease;
  i{
animation: scrollTop 1s infinite;
  }
}

@keyframes scrollTop {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }

  100% {
    transform: translateY(0);
  }
}
